var calStars = {
  cal: function (stars) {
    var wholestar,halfstar,nostar;
    var s = stars - parseInt(stars) * 10 / 10;
    if (s < 0.75) {
      wholestar= parseInt(stars) * 10 / 10;
    } else wholestar = ((parseInt(stars) * 10 / 10) + 1);
    if (s > 0.25 && s < 0.75) {
      halfstar = 1;
    } else halfstar = 0;
    nostar = 5 - wholestar - halfstar;
    return {
      wholestar:wholestar,
      halfstar:halfstar,
      nostar:nostar
    }
  }
}

module.exports = {
  cal: calStars.cal
}
